* {
    padding: 0px;
    margin: 0px;;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#patio {
    block-size: 10cm;
    margin: auto;
    display: block;
    width: 600px;
}

header {
    background-color: #284eee;
}

nav a {
    color:black;
    text-align: right;
}

nav a:hover {
    color:white
}

.pie{
   color : white;
}

footer {
    background-color: black;
}

p {
    text-align: right;
}


