* {
    padding: 0px;
    margin: 0px;;
}

#patio {
    block-size: 10cm;
}

header {
    background-color: #284eee;
}

nav a {
    color:black
}

nav a:hover {
    color:white
}

h3{
   color : white;
}

footer {
    background-color: black;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

