h2 {
    color:rgb(0, 0, 200);
    font-size: 30px;
    text-align: center;
}

.copaverce {
    /*background-color: #284eee;*/
}

.verceimg {
    margin: auto;
    display: block;
    position: relative; 
    top: 10px;  
    width: 25cm; 
}


/******************************************************************/

.tablaposiciones, .tablagoleadores {
    text-align: center;
}

.tablaposiciones tbody tr:hover {
    background-color: #f5f5f5;
}

thead {
    background-color: #284eee;
    color: white;
}


td, th {
    padding: 25px;
    border-bottom: solid 1px;
    
}

.puntos {
    border-bottom: solid 1px;
}

.copaoro {
    background-color: gold;
}

.copaplata {
    background-color:gainsboro;
}


.tablaposiciones th, .tablaposiciones td, .tablagoleadores td {
    border: 1px solid #dddddd;
}




.goleadores {
    /*position: relative;
    left: 30cm; bottom: 6.68cm;*/
}


.tablagoleadores {
    /*position: relative;
    left: 30cm; bottom: 6.6cm;*/
}
